{# src/Szkla/Bundle/ProductGridBundle/SzklaProductGridBundle/Resources/views/Products/view.html.twig #}
{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}

{% block navButtons %}
    {% if resource_granted('EDIT', product) %}
        {{ UI.editButton({
            'path' : path('szkla_products.product_update', { id: product.id }),
            'entity_label': 'Product'|trans
        }) }}
    {% endif %}

    {% if resource_granted('DELETE', product) %}
        {{ UI.deleteButton({
            'dataUrl': path('szkla_products_api_delete_product', {'id': product.id}),
            'dataRedirect': path('szkla_products.products_index'),
            'aCss': 'no-hash remove-button',
            'id': 'btn-remove-product',
            'dataId': product.id,
            'entity_label': 'Product'|trans,
        }) }}
    {% endif %}
{% endblock navButtons %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity':      product,
        'indexPath':   path('szkla_products.products_index'),
        'indexLabel': 'Products'|trans,
        'entityTitle': product.model
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block content_data %}
    {% set data %}
        <div class="widget-content">
            <div class="row-fluid form-horizontal">
                <div class="responsive-block">
                    {{ UI.renderProperty('SKU'|trans, product.sku) }}
                </div>
            </div>
        </div>
    {% endset %}
    {% set dataBlocks = [
        {
            'title': 'Data'|trans,
            'class': 'active',
            'subblocks': [
                { 'data' : [data] }
            ]
        }
    ] %}

    {% set id = 'productView' %}
    {% set data = { 'dataBlocks': dataBlocks } %}
    {{ parent() }}
{% endblock content_data %}
