{# src/Szkla/Bundle/ProductGridBundle/SzklaProductGridBundle/Resources/views/Product/view.html.twig #}
{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}

{% block navButtons %}
    {% if resource_granted('EDIT', product) %}
        {{ UI.editButton({
            'path' : path('szkla_products.product_update', { id: product.id }),
            'entity_label': 'Product'|trans
        }) }}
    {% endif %}

    {% if resource_granted('DELETE', product) %}
        {{ UI.deleteButton({
            'dataUrl': path('szkla_products_api_delete_product', {'id': product.id}),
            'dataRedirect': path('szkla_products.products_index'),
            'aCss': 'no-hash remove-button',
            'id': 'btn-remove-product',
            'dataId': product.id,
            'entity_label': 'Product'|trans,
        }) }}
    {% endif %}
{% endblock navButtons %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity':      product,
        'indexPath':   path('szkla_products.products_index'),
        'indexLabel': 'Products'|trans,
        'entityTitle': product.sku
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block stats %}
    <li>{{ 'ID #'|trans }}: {{ product.id ? product.id : 'N/A'}}</li>
    <li>{{ 'oro.ui.created_at'|trans }}: {{ product.createTime ? product.createTime|oro_format_datetime : 'N/A' }}</li>
    <li>{{ 'oro.ui.updated_at'|trans }}: {{ product.modifyTime ? product.modifyTime|oro_format_datetime : 'N/A' }}</li>
{% endblock stats %}

{% block content_data %}
    {% set productInformationWidget %}
        <div class="widget-content">
            <div class="row-fluid form-horizontal">
                <div class="responsive-block">
                    {{ UI.renderProperty('SKU'|trans, product.sku) }}
                    {{ UI.renderProperty('Active?'|trans, product.isActive) }}
                    {{ UI.renderProperty('oro.ui.created_at'|trans, product.createTime|oro_format_datetime) }}
                    {{ UI.renderProperty('oro.ui.updated_at'|trans, product.modifyTime|oro_format_datetime) }}

                    {% if product.integerValues|length %}
                        {% for item in product.integerValues %}
                            {{ UI.renderProperty('Integer value', item) }}
                        {% endfor %}
                    {% endif %}

                    {% if product.decimalValues|length %}
                        {% for item in product.decimalValues %}
                            {{ UI.renderProperty('Decimal value', item) }}
                        {% endfor %}
                    {% endif %}

                    {% if product.datetimeValues|length %}
                        {% for item in product.datetimeValues %}
                            {{ UI.renderProperty('DateTime value', item) }}
                        {% endfor %}
                    {% endif %}

                    {% if product.varcharValues|length %}
                        {% for item in product.varcharValues %}
                            {{ UI.renderProperty('Varchar value', item) }}
                        {% endfor %}
                    {% endif %}

                    {% if product.textValues|length %}
                        {% for item in product.textValues %}
                            {{ UI.renderProperty('Text value', item) }}
                        {% endfor %}
                    {% endif %}

                </div>
            </div>
        </div>
    {% endset %}
    {% set dataBlocks = [
        {
            'title': 'Product Information'|trans,
            'class': 'active',
            'subblocks': [
                { 'data' : [productInformationWidget] }
            ]
        }
    ] %}

    {% set id = 'productView' %}
    {% set data = { 'dataBlocks': dataBlocks } %}
    {{ parent() }}
{% endblock content_data %}
